@import url('https://fonts.googleapis.com/css?family=Rubik:400i');
$main-color: #168d83;
.background {
	width: 80%;
	height: auto;

	z-index: -1;
	object-fit: cover;
	opacity: 0.8;
}

.p1 {
	position: fixed;
	top: 150px;
	right: 0;
	font-family: 'Rubik', sans-serif;
	font-size: 80px;
	margin-right: 60px;
	font-weight: bold;
	color: #ffffff; /* צבע הכתב */
	text-align: right;
	padding: 20px; /* רווח מסביב לכתב */
	text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5); /* הצללת הטקסט */
}
.p2 {
	position: fixed;
	top: 250px;
	right: 0;
	font-family: 'Rubik', sans-serif;
	font-size: 80px;
	margin-right: 60px;
	font-weight: bold;
	color: #ffffff; /* צבע הכתב */
	text-align: right;
	padding: 20px; /* רווח מסביב לכתב */
	text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5); /* הצללת הטקסט */
}
.container {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	padding: 0 20px;
	position: relative;
}
