button {
	margin-right: 8px;
}
mat-dialog-content {
	direction: rtl;
}
h2 {
	align-items: center;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
